name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cd tetanos;cargo install bootimage; rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu; rustup component add llvm-tools-preview; cargo build --verbose
      - name: Run tests
        run: cd tetanos;cargo install bootimage; rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu; rustup component add llvm-tools-preview; cargo test --verbose
